<div class="whole">
  <div class="nav">
    <h1 id="logo">Hellowers</h1>
    <app-search></app-search>
    <button mat-button class="chat">Chat(2)</button>
    <button mat-raised-button class="logOut" (click)="logout()">Log out</button>
  </div>
  <div class="content">
    <mat-card class="mat-card profile">
      <mat-card-content class="mat-card-content">
        <img
          class="image info"
          src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
          height="190px"
          width="190px"
        />
        <button
          *ngIf="status == ''"
          mat-raised-button
          class="add info"
          (click)="request(user._id)"
        >
          Add friend
        </button>

        <button
          *ngIf="status == ''"
          mat-raised-button
          class="add danger"
          (click)="unfriend(user._id)"
        >
          Unfriend
        </button>

        <span *ngIf="status == 'SENT'"> Request Sent </span>
        <h1 class="info">{{ user.fullname }}</h1>
        <h1 class="info">{{ user.email }}</h1>
        <h1 class="info">{{ user.sexe == "M" ? "MALE" : "FEMALE" }}</h1>
        <h1 class="info">{{ user.title }}</h1>
        <h1 class="info">{{ user.bio }}</h1>
      </mat-card-content>
    </mat-card>
  </div>
</div>
