<div>
  <h1 id="logo">Hellowers</h1>
  <mat-card class="mat-card">
    <mat-card-header class="mat-card-header">
      <mat-card-title>
        <h1>Login</h1>
        <br />
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-card-content">
      <form class="form" (ngSubmit)="login()" #form="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            required
            [(ngModel)]="user.email"
            type="email"
            name="email"
            pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.+[a-z]{2,4}$"
            ngModel
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            [(ngModel)]="user.password"
            required
            name="password"
            type="password"
            pattern=".{3,40}$"
            ngModel
          />
        </mat-form-field>
        <button
          type="submit"
          mat-raised-button
          color="secondary"
          [disabled]="form.invalid || loading"
          class="signupbutton"
        >
          Login
        </button>
        <div style="text-align: center; margin-top: 15px">
          not a member yet?
          <a mat-button routerLink="/signup"> Sign up</a>
        </div>
        <br />
      </form>
    </mat-card-content>
  </mat-card>
  <h3>Powered by THE CONQUERORS</h3>
</div>
