/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  min-width: 850px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.writeThings .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}
